<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>宿舍报修</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/table.css">
</head>
<body>
    <nav class="header">
        <div class="title">宿舍管理系统</div>
        <!-- <div class="login">欢迎李四管理员</div> -->
    </nav>
    <div class="catalog">
        <ul class="cata">
            <li><a href="/managerIndex">首页</a></li>
            <li class="nowFocus"><a href="/managerRepair">宿舍报修</a></li>
            <li><a href="/leave">离校登记</a></li>
            <li><a href="/computer">带电脑、行李登记</a></li>
            <li><a href="/late">晚归登记</a></li>
            <li><a href="/managerInformationBuy">电费、水费、网费信息</a></li>
            <li><a href="/managerSuggestion">意见反馈</a></li>
            <li><a href="/studentInformation">学生信息</a></li>
        </ul>
    </div>
    <div class="body">
        <div class="bodyTop">
            <h1>宿舍报修信息</h1>
        </div>


        <div class="bodyBottom">
            <table class="leaveTable"  cellspacing="0">
                <tr>
                    <th>姓名</th>
                    <th>宿舍号</th>
                    <th>时间</th>
                    <th>信息概述</th>
                    <th>操作</th>
                </tr>  
                {{each repairs}}
                {{if($value.isProcess == false)}}
                <tr>
                    <td>{{$value.name}}</td>
                    <td>{{$value.room}}</td>
                    <td>{{$value.date + ' ' + $value.time}}</td>
                    <td>{{$value.text}}</td>
                    <td>
                        <button class="del"><a href="/accept?id={{$value._id}}">点击确认</a></button>
                    </td>
                </tr>   
                {{else}}
                <tr>
                    <td>{{$value.name}}</td>
                    <td>{{$value.room}}</td>
                    <td>{{$value.date + ' ' + $value.time}}</td>
                    <td>{{$value.text}}</td>
                    <td>
                        <button class="sure"><a href="javascript:">已确认</a></button>
                    </td>
                </tr>   
                {{/if}}
                {{/each}}   
            </table>
        </div>
    </div>
</body>
</html>