<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>离校登记添加</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/table.css">
</head>

<body>
    <nav class="header">
        <div class="title">宿舍管理系统</div>
        <!-- <div class="login">欢迎</div> -->
    </nav>
    <div class="catalog">
        <ul class="cata">
            <li><a href="/managerIndex">首页</a></li>
            <li><a href="/managerRepair">宿舍报修</a></li>
            <li class="nowFocus"><a href="/leave">离校登记</a></li>
            <li><a href="/computer">带电脑、行李登记</a></li>
            <li><a href="/late">晚归登记</a></li>
            <li><a href="/managerInformationBuy">电费、水费、网费信息</a></li>
            <li><a href="/managerSuggestion">意见反馈</a></li>
            <li><a href="/studentInformation">学生信息</a></li>
        </ul>
    </div>
    <div class="body">
        <div class="bodyTop">
            <h1 class="addTitle">离校登记信息</h1>
        </div>
        <div class="bodyBottom">
            <form class="informationAdd" action="/giveNewLeave" method="post">
                <h3>学号</h3>
                <input type="text" name="number" id="">
                <h3>姓名</h3>
                <input type="text" name="name" id="">
                <h3>宿舍号</h3>
                <input type="text" name="room" id="">
                <h3>日期</h3>
                <input type="date" name="date" id=""><br>
                <input type="time" name="time" id="">
                <br>
                <button class="del" stype="submit">添加</button>
            </form>
        </div>
    </div>
</body>

</html>